$color-beige: #fae6b1; // 250, 230, 177
$color-orangevivid: #E9831F; // 255, 161, 1
$color-softblue: #b3dee5; // 179, 222, 229
$color-slate: #31525b; // 49, 82, 91

$color-red: #E74C3C; // 128, 0, 32
$color-burgundy: #800020;
$color-deeporange: #FF5733;
$color-darkgray: #333333;
$color-darkblue: #1A1A4D;

/* Global Style */
body {
    height: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 1em;
    background-color: #fff;
    min-height: 100vh;
}

main {
    margin: 0;
    padding: 0;
}

h1 {
  font-weight: 900;
}


// .offcanvas {
//   transition: none;
// }

/* Scroll Reveal */
.reveal-section {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease;
}

.flying-section {
    transform: translateY(0px);
    opacity: 1;
}

.shadow {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}


/* Navbar section */

header#navbar-section {
    background-color: #fff;
    height: 100px;

    // .transparent-bg {
    //     background-color: rgba(250, 230, 177, 0.5);
    // }

    .navbar-image {
        height: 80px;
        width: auto;
        float: left;
    }

    .navigation-section {
        float: right;
    }

    ul {
        li {
            padding: 4px 20px;
            font-weight: 800;
        }

        .active {
            text-shadow: 2px 2px 4px #fff;
        }

        li:hover {
            color: $color-orangevivid;
            text-shadow: 2px 2px 4px #fff;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) {
    header#navbar-section {
        height: auto;
        .navbar-image {
            height: 50px;
            float: none;
        }
        .navbar-toggler {
            border: none;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        .navigation-section {
            float: none;
            color: #fff;
            background-color: $color-darkgray;
        }
        ul {
            li {
                border: 1px inset #fff;
            }
        }
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    header#navbar-section {
        .navbar-image {
            height: 60px;
        }
        ul {
            li {
                padding: 4px 10px;
                font-weight: 600;
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    header#navbar-section {
        .navbar-image {
            height: 80px;
        }
    }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

section#banner-section {
    .banner-container {
        position: relative;
        width: 100%;
        height: 500px; /* Adjust the height as needed */
        overflow: hidden; /* Ensure the image doesn't overflow */
    }
    
    .banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the image covers the entire container */
        opacity: 1; /* Initial opacity */
        transition: opacity 0.5s ease; /* Smooth transition for opacity */
    }
    
    .carousel-caption {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%; /* Adjust the width as needed */
        padding: 20px; /* Add padding as needed */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        color: #fff; /* Text color */
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0; /* Initially hidden */
        transition: opacity 0.5s ease; /* Smooth transition for opacity */
    }
    
    .carousel-item.active .banner-image {
        opacity: 0.5; /* Adjust the opacity level as needed */
    }
    
    .carousel-item.active .carousel-caption {
        opacity: 1; /* Show caption */
    }
}



.skew-c {
//   background: url('../assets/bg-orange.jpg');
    background: $color-darkgray;
    padding: 10px 50px;
    
  .separator {
    width:100%;
    height:50px;
    left:0px;
    background: linear-gradient(to left bottom, #fff 49%, orange 50%);
  }
  .content{
    width: 100%;
    border: 0;
    text-align: center;
    color: #fff;
    // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .divider {
    display: table; 
    text-align: center; 
    width: 75%;
    margin: 40px auto;

    span { 
        display: table-cell; 
        position: relative; 
    }

    span:first-child, 
    span:last-child {
        width: 50%;
        top: 20px;
        background-size: 100% 2px;
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        
        &:first-child {
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#fff));
          background-image: -webkit-linear-gradient(180deg, transparent, #fff);
          background-image: -moz-linear-gradient(180deg, transparent, #fff);
          background-image: -o-linear-gradient(180deg, transparent, #fff);
          background-image: linear-gradient(90deg, transparent, #fff);
        }

        &:last-child {
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(transparent));
          background-image: -webkit-linear-gradient(180deg, #fff, transparent);
          background-image: -moz-linear-gradient(180deg, #fff, transparent);
          background-image: -o-linear-gradient(180deg, #fff, transparent);
          background-image: linear-gradient(90deg, #fff, transparent);
        }
    }

    span:nth-child(2) {
        color: #fff; 
        padding: 0px 20px; 
        width: auto; 
        white-space: nowrap;
    }
  }
}

.skew-cc{
  background: #fff;
  padding: 10px 50px;
  .separator {
    width:100%;
    height:50px;
    left:0px;
    background: linear-gradient(to right bottom, orange 49%, #fff 50%), linear-gradient(-50deg, #ffffff 16px, #000 0);
  }

  .content {
    padding: 20px;
    width: 100%;
    border: 0;
    text-align: center;
    color: #000;
    // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .divider {
    display: table; 
    text-align: center; 
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    span { 
        display: table-cell; 
        position: relative; 
    }

    span:first-child, 
    span:last-child {
        width: 50%;
        top: 20px;
        background-size: 100% 2px;
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        
        &:first-child {
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
          background-image: -webkit-linear-gradient(180deg, transparent, #000);
          background-image: -moz-linear-gradient(180deg, transparent, #000);
          background-image: -o-linear-gradient(180deg, transparent, #000);
          background-image: linear-gradient(90deg, transparent, #000);
        }

        &:last-child {
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
          background-image: -webkit-linear-gradient(180deg, #000, transparent);
          background-image: -moz-linear-gradient(180deg, #000, transparent);
          background-image: -o-linear-gradient(180deg, #000, transparent);
          background-image: linear-gradient(90deg, #000, transparent);
        }
    }

    span:nth-child(2) {
        color: #000; 
        padding: 0px 20px; 
        width: auto; 
        white-space: nowrap;
    }
  }
}

//our values
.values-section {
    .custom-card {
        height: 100%;
    }
    
    .card-body {
        background-color: #fff;
    }
}

//our training
.training-section {
    color: #fff;

    .training-card {
        height: 300px;

        .training-icon {
            padding-bottom: 30px;
        }

        p {
            display: none;
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        svg {
            opacity: 1;
            transition: opacity 0.5s ease;
            transition: height 0.3s ease;
        }

        &:hover {
            // background-color: rgba(255, 161, 1, 0.7);
            border-radius: 20px;
            // margin-bottom: 10px;

            h2 {
                font-weight: bolder;
                height: 100px;
            }

            p {
                height:fit-content;
                padding-top: auto;
                padding-bottom: auto;
            }

            svg {
                opacity: 0;
                height: 0;
            }

            p {
                display: block;
                opacity: 1;
            }
        }
    }

    // .content {
    //     overflow: hidden; /* Hide overflow */
    //     transition: max-height 0.5s ease; /* Add smooth transition */
    // }

    // .expandable-content {
    //     max-height: 0; /* Initially hide content */
    //     overflow: hidden;
    //     transition: max-height 0.5s ease; /* Add smooth transition */
    // }

    // .show-more-button {
    //     max-height: 1000px; /* Adjust as needed */
    // }
}

//our team
div#teamCarousel {
    .carousel-item {
        img {
            width: 300px;
            height: auto;
        }
    }
}


  /* Slide up animation */
  /* Uncomment the code below and comment out the flip animation code if you prefer sliding up effect */

  /*
  .team-member .team-info {
      transition: transform 0.5s ease;
      transform: translateY(100%);
  }

  .team-member:hover .team-info {
      transform: translateY(0);
  }
  */

  /* Additional styles */
  .team-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 10px;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transform: rotateX(-180deg);
  }

  .team-info h5,
  .team-info p {
      margin: 0;
  }

  //contact us
  .contact-us {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 10px;

        i {
            margin-right: 10px;
        }
    }
}

section#clients-section {
    .logo-grid {
        display: grid;
        justify-content: space-between;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2vw;
        .logo-container {
            display: flex;
            justify-content: center;
            height: 200px;
            img {
                width: 100%;
                object-fit: scale-down;
            }
        }
    }
}

/* Footer Area */
.footer-area {
    color: #fff;
    background-color: $color-orangevivid;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
}

.footer-area .contact-social {
    display: block;
}

.footer-area .contact-social h5 {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.footer-area .contact-social ul {
    display: inline-block;
    position:relative;
    left: -9px;
    margin-top: 15px;
}

.footer-area .contact-social ul li {
    display: inline-block;
    margin-right: 5px;
}

.footer-area .contact-social ul li:last-child {
    margin-right: 0;
}

.footer-area .contact-social ul li a {
    color: #fff;
    font-size: 28px;
    position: relative;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
}

.footer-area .contact-social ul li a span {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.footer-area .contact-social ul li a:hover .icon-1 {
    top: -30px;
}

.footer-area .contact-social ul li a .icon-2 {
    top: 75px;
}

.footer-area .contact-social ul li a:hover .icon-2 {
    top: 15px;
}

.footer-area .contact-social ul li a:hover {
    color: $color-slate;
}


// Whatsapp
.floating {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    h1 {
        margin-right: 30px;
    }

    .float-button {
        height: 80px;
        float: right;
    }

    &:hover {
        @media (max-width: 767.98px) {
            width: 300px;
        }
        width: 400px;
    }
}


// .contact-box {
//     position: fixed;
//     bottom: 40px;
//     right: 160px; /* Adjust as needed */
//     background-color: #25d366;
//     color: #FFF;
//     padding: 10px 20px;
//     border-radius: 5px;
//     font-size: 16px;
//     box-shadow: 2px 2px 3px #999;
//     z-index: 99; /* Ensure it's behind the WhatsApp button */
//     transition: opacity 0.3s ease, right 0.3s ease; /* Add transition for smooth appearance */
//     opacity: 0; /* Initially hide the contact box */
// }

.floating:hover + .contact-box {
    right: 140px; /* Adjust as needed */
    opacity: 1; /* Show the contact box */
}



/* Media Size */
// // Extra small devices (phones, 576px and down)
// @media (max-width: 575.98px) {
//     // Your CSS styles for extra small devices here
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) {
//     // Your CSS styles for small devices here
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) {
//     // Your CSS styles for medium devices here
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) {
//     // Your CSS styles for large devices here
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//     // Your CSS styles for extra large devices here
// }


//team

main#team {
    height: 100%;

    .slider-nav {
        img {
            opacity: 0.5;
            height: 200px;
        }
        .slider-image {
            padding: 5px;
            margin: 10px;
            background-color: $color-softblue;
        }
        .slick-center {
            img {
                opacity: 1;
            }
        }
    }

    .slider-description {
        .member {
            display: flex;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            // position: relative;
            min-height: 50vh;
            height: auto;

            .overlay {
                width: 100%;
                height: 150%;
                background-color: rgba(255, 255, 255, 0.5);
                background-size: cover;
                display: flex;
                align-items: center;

                .left-image {
                    margin: 20px;
            
                    img {
                        display: block;
                        width: 250px;
                        border: 1px solid white;
                        border-radius: 5px;
                    }
                }
                
                .content {
                    height: auto;
                    background-size: cover;
                    background-position: center;
                    // background-color: rgba(250, 230, 177, 0.5);
                    color: #000;
                    padding: 50px;
                }
            }
                
            
        }
        @media (max-width: 767.98px) {
            .member {
                background-position: center; 
                background-size: 75%;

                .overlay {
                    .left-image {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}



// articles
main#articles {
    // color: #fff;
    a {
        color: #000;
        text-decoration: none;
    }

    .main-section {
        margin-top: 20px;
        .title-article {
            height: auto;
            margin: 10px;
            padding: 10px;
            background-color: $color-darkgray;
            text-align: center;
            color: #fff;
        }

        .main-article {
            padding: 50px;
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .main-author {
            margin-top: 40px;
            margin-bottom: 40px;
            // background-color: $color-orangevivid;
            width: 100%;
            text-align: center;
            border-radius: 30px;
            padding: 20px;
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

            .avatar {
                height: 10rem;
                width: 10rem;
                position: relative;
                display: inline-block !important;

                .avatar-img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
        }
        
        @media (max-width: 767.98px) {
            .main-author {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }

        .other-article {
            .other-article-container {
                .previous-article {
                    min-width: 300px;
                    width: 50%;
                    height: 200px;
                    padding: 20px;
                    margin: 10px;
                    background-color: $color-beige;
                    transition: all 0.5s ease;
    
                    &:hover {
                        background-color: $color-darkgray;
                        color: #fff;
                    }
                }
                .next-article {
                    min-width: 300px;
                    width: 50%;
                    height: 200px;
                    padding: 20px;
                    margin: 10px;
                    background-color: $color-beige;
                    transition: all 0.5s ease;
    
                    &:hover {
                        background-color: $color-darkgray;
                        color: #fff;
                    }
                }
            }
            @media (max-width: 767.98px) {
                .other-article-container {
                    display: none;
                }
            }
        }
    }

    .side-section {
        margin-top: 20px;
        .side-header {
            padding: 20px;
            color: #fff;
            margin: 10px;
            background-color: $color-darkgray;
        }

        .side-item {
            margin: 10px;
            a {
                text-decoration: none;
            }
            .card-body {
                background-color: $color-beige;
                transition: all 0.5s ease;
                &:hover {
                    color:#fff;
                    background-color: $color-darkgray;
                }
            }
        }

        .side-author {
            .author {
                font-size: 0.75em;
            }
            .avatar {
                height: 2.5rem;
                width: 2.5rem;
                position: relative;
                display: inline-block !important;
        
                .avatar-img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
        }

    }
}

main#singlepost {
    .card {
        height: 100px;
        background-color: red;
    }

    .main-area {
        height: 100px;
        background-color: blue;
    }

    .side-area {
        height: 100px;
        background-color: green;
    }
}

/* Style the overlay */
main#db-article {
    width:100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent initially */
    z-index: 888; /* Starts below other content */
    // transition: background-color 0.3s ease; /* Smooth transition */
}

.editArticle, .newArticle {
    position: fixed;
    top: 50%; /* Position from the vertical center */
    left: 50%; /* Position from the horizontal center */
    transform: translate(-50%, -50%); /* Centering trick */
    background-color: #fff;
    margin: auto; /* Center horizontally */
    padding: 50px;
    z-index: 999;
    max-height: 80vh; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional: Add a border for visualization */
}